/* src/components/About.css */

.about-container {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  transition: transform 0.2s;
}
.about-content {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 250px;
  height: 250px;

  margin-right: 20px;
}

.text-content {
  flex: 1;
}

h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.buttons {
  margin-top: 20px;
}

.button {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #22126b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
}

.button:active {
  transform: translateY(0);
  box-shadow: none;
}
