#skills {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  transition: transform 0.2s;
}
.skills-section {
  padding: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.skill-card {
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.skill-card h3 {
  color: #4caf50;
  margin-bottom: 10px;
}

.skill-card ul {
  list-style: none;
  padding: 0;
}

.skill-card ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
}

.skill-card ul li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.skill-card ul li:hover {
  color: #4caf50;
}
